<div class="bech-header">
  <!--Icono flecha para volver atras -->
  <div class="bech-header__arrow-back">
    <img src="../assets/img/arrow_left_white.svg" [routerLink]="['/home']">
  </div>
  <!--titulo-->
  <div class="bech-header__titulo ">Este es el título</div>
</div>

<div class="bech-body">
  <app-animation></app-animation>
  <h5 class="modal-bech__title">Mejoramos para hacerte la vida más simple</h5>
  <p class="modal-bech__text">Conoce la nueva aplicación BancoEstado y vive una nueva experiencia al realizar tus transacciones</p>
</div>


<button class="button-bech--primary" [routerLink]="['/dog']" alt="boton primario naranjo">Continuar</button>
